<body style="background-color:#D5F5E3;">
<title> Edit Profile </title>
<h1 style="text-align: center; font-size: 1"> profile </h1>
</body>

<form style= "text-align: center;">

  <p>
  <label style= "text-align: left; font-size: 1" for="Nick Name">Nick Name:</label>
  <input type = "text" name = "Nick Name" maxlength = "20"><br>
  <br>
  </p>

  <p>
  <label style= "text-align: left; font-size: 1" for="E-mail">E-mail:</label>
  <input type = "email" name = "E-mail"><br>
  <br>
  </p>

  <p>
  <label style= "text-align: left; font-size: 1" for="Phone">Phone:</label>
  <input type = "number" name = "Phone" maxlength = "10"><br>
  <br>
  </p>

  <p>
  <label style= "text-align: left; font-size: 1" for="Bio">Bio:</label>
  <textarea name "Bio" cols="20" rows="2"></textarea><br>
  </p>
  
  <p>
  <input type="submit" value="Submit">
  </p>

</form>

<style>
label{
            cursor: pointer;
            display: inline-block;
            padding: 3px 6px;
            text-align: right;
            width: 100px;
            vertical-align: top;
        }
</style>