<title> Profile </title>

<h1 style="text-align: center; font-family: 'Arial'; font-size: 300%"> Profile </h1>

<p style= "text-align: center" >My Profile:</p>

<form style= "text-align: center;" action="/action_page.php">
  <label style= "text-align: left;" for="nickname">Nick Name:</label><br>
  <input type="text" id="username" name="nickname" placeholder="Joe" ><br>
  <label style= "text-align: left;" for="email">Email:</label><br>
  <input type="text" id="username" name="email" placeholder="Joe@purdue.edu" ><br>
  <label style= "text-align: left;" for="phone">Phone:</label><br>
  <input type="text" id="password" name="phone" placeholder="765-xxx-xxxx" ><br>
  <label style= "text-align: left;" for="bio">Biography:</label><br>
  <input type="text" id="password" name="bio" placeholder="This guy is lazy, writing nothing yet" ><br>
  <label style= "text-align: left; " for="gender">Gender:</label><br>
  <input type="text" id="password" name="gender" placeholder="Optional" ><br><br>

  <input style="font-size: large" type="submit" value="Save Changes"> 

</form>