<p>
<strong>Commenter:</strong>
<%= comment.commenter %>
</p>

<p>
  <strong>Comment:</strong>
  <%= comment.body %>
</p>

<% if comment.id.nil?%>
  
  <%else%>
  <p>
    <%= link_to 'Edit', edit_post_comment_path(@post, comment) %>
  </p>  
<p>
  <%= link_to 'Destroy Comment', [comment.post, comment],
              method: :delete,
              data: { confirm: 'Are you sure about that?' } %>
</p>
<%end%>