<div class="ui segment">
  <h3>Mailbox</h3>
  <div class="ui list">
    <div class="item">
      <% @conversations.each do |conversation| %>
        <% if conversation.sender_id == current_user.id || conversation.recipient_id == current_user.id %>
          <% if conversation.sender_id == current_user.id %>
            <% recipient = User.find(conversation.recipient_id) %>
          <% else %>
            <% recipient = User.find(conversation.sender_id) %>
          <% end %>
          <br> <strong>Messages with: </strong> <%= link_to recipient.username, conversation_messages_path(conversation) %>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
<br>
<br>
<div class="ui segment">
  <h3>Followed Users</h3>
  <div class="ui list">
    <% if Following.exists?(:user_id => current_user.id, :category => "User") %>
      <% @users.each do |user| %>
        <% if user.id != current_user.id and Following.exists?(:user_id => current_user.id, :name => user.username, :category => "User") %>
          <div class="item">
            <%= user.username %> <%= link_to "Send Message", conversations_path(sender_id: current_user.id, recipient_id: user.id), method: "post" %>
          </div>
        <% end %>
      <% end %>
    <% else %>
      <h4>You haven't followed any users yet...</h4>
    <% end %>
  </div>
</div>
