
<title> AwsomeBlogSignupPage </title>
<h1 style="text-align: center; font-family: 'ROG Fonts v1.6'; font-size: 600%"> Awesome Blog </h1>

<%= render 'form' %>
<p style="font-size: x-small; text-align: center"><%= link_to 'Already have an account?', login_path %></p>
