<p>
  <strong>Name:</strong>
  <%= @block.name %>
</p>
<p>
  <strong>Category:</strong>
  <%= @block.category %>
</p>

<p>


<form>
  <input type="button" value="Go Back" onclick="history.go(-1)">
</form>
